{% extends "base.html" %}

{% block subtitulo %}
Detalhes do Ativo {{ detalhes_ativo.nome }}
{% endblock %}


{% block conteudo %}

    Nome: {{ detalhes_ativo.nome }} <br>
    Descrição: {{ detalhes_ativo.descricao }} <br>
    Fornecedor: {{ detalhes_ativo.fornecedor }} <br>
    Valor de Compra: R$ {{ detalhes_ativo.valor_compra }} <br>
    Quantidade: {{ detalhes_ativo.qtd }} <br>
    Plaqueta: {{ detalhes_ativo.plaqueta }} <br>

{% endblock %}


{% block rodape %}
<br>
<br>
Sistema de Controle de Ativos
{% endblock %}